.container
    .row
        .col-xs-12
            .panel.panel-primary
                .panel-heading View
                .panel-body
                    .btn.btn-default Game
                    .btn.btn-default Casters
                    .btn.btn-default Hallcam (upper)
                    .btn.btn-default Hallcam (stage)
                    .btn.btn-primary Champion Select
                    .btn.btn-default Teams
                    .btn.btn-default Brackets
                    .btn.btn-default Timetable
